@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "YOUR EMAIL HAS BEEN CONFIRMED!";
}

<div class="aspidpages centertext">
    <h1>@ViewData["Title"]</h1>
    <img class="centerimg" src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVIrIVlTq03ja1FtNX0uI1Xuv3PcLQ-tcGKQ&usqp=CAU" />
    <br />
    <br />
    <h3><a asp-page="./Login">Click Here to Log In</a></h3>
</div>