@{
    ViewData["Title"] = "Grow Me Garden!";
}

@model Final_Project.Models.ViewModels.HomeControllerViewModels.IndexViewModel



<div>
    <h1>Once Upon a Time There Was A Garden</h1>
    <p><em>Welcome to GrowMeGarden. Here you will be able to search a database containing over a million different plants you can add to your garden. Whether your goal is to plant a field of harvestable crops, green in an otherwise sterile metropolitan city roof, or design a rural flower garden that would make a fairie princess jealous we're certain you can find your plants here.</em></p>
</div>
<br />
<div class="text-center">
    <form asp-controller="Garden" asp-action="SearchResult" method="post">
        <p>
            Plant Search: <input type="text" name="search" /><input type="submit" value="Go!" />
        </p>
    </form>
   
        @foreach (var Plant in @Model.Plants)
        {
        <div id="plantoftheday">
            <h1>@Plant.Name - @Plant.ScientificName</h1>
            <img src="@Plant.ImageURL" />
        </div>
        }
    
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Garden" asp-action="MemberPortal">MemberPortal</a>
