@{
    ViewData["Title"] = "Grow Me Garden!";
}

@model Final_Project.Models.ViewModels.HomeControllerViewModels.IndexViewModel



<div>
    <h1>Once Upon a Time There Was A Garden</h1>
    <p><em>Welcome to GrowMeGarden. Here you will be able to search a database containing over a million different plants you can use to plan your garden. After you've created your perfect green space, you can then view the weather at your current location as well as back home in the garden. Whether your goal is to plant a field of harvestable crops, green in an otherwise sterile metropolitan city roof, or design a rural flower garden that would make a fairy princess jealous, we're certain you can find your plants here.</em></p>
</div>
<br />
<div class="text-center">
    <form asp-controller="Garden" asp-action="SearchResult" method="post">
        <p>
            Plant Search: <input type="text" name="search" /><input type="submit" value="Go!" />
        </p>
    </form>
        <div id="plantoftheday">
            <img src="https://static.wixstatic.com/media/846d71_184dae9a75084edd931f9261da186c10~mv2.jpg/v1/fill/w_740,h_494,al_c,q_90,usm_0.66_1.00_0.01/846d71_184dae9a75084edd931f9261da186c10~mv2.webp" />
        </div>
    
</div>

