
<link rel="stylesheet" href="~/css/stylesheet.css" />

<div class="portalcontainer">
    <a id="portalmeprofile" asp-controller="Garden" asp-action="MemberProfile">MeProfile</a>
    <a id="portalmeweather" asp-area="" asp-controller="Garden" asp-action="Weather">MeWeather</a>
    <a id="portalmegarden" asp-area="" asp-controller="Garden" asp-action="MemberGarden">MeGarden</a>
    <a id="portalmesettings" asp-area="" asp-controller="Garden" asp-action="MemberProfileForm">MeSettings</a>
</div>